.container {
  border-bottom: 2px solid var(--primary-color);

  padding-top: calc(var(--spacing-unit) * 11);
  padding-right: calc(var(--spacing-unit) * 6);
  padding-left: calc(var(--spacing-unit) * 6);
  padding-bottom: calc(var(--spacing-unit) * 3);
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}
