.container {
  max-height: calc(100vh - 402px); /* 100vh - (offsetHeight + (48 * 2)) */
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  background-color: var(--app-background);
  border-bottom: 2px solid var(--primary-color);

  text-align: left;

  position: sticky;
  top: 0;
}

.table th,
.table td {
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}

.table th:last-child,
.table td:last-child {
  text-align: right;
}

.table tr:nth-child(even) td {
  background-color: #fafafa;
}

.table tr:hover td {
  background-color: #f0f0f0;
}
