.container {
  display: flex;
  align-items: center;
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
  margin-bottom: calc(var(--spacing-unit) * 3);
}

.sortContainer {
  flex-grow: 1;
}

.sortContainer label + label {
  padding-left: calc(var(--spacing-unit) * 2);
}

.sortContainer input {
  margin-right: var(--spacing-unit);
}

.container > :last-child {
  margin-left: auto;
}
